---
---

@import "{{ site.theme }}";

img {
    width:100px;
    height:100px;
    border:1px solid;
    vertical-align:middle;
    float:left;
}
span:after {
    clear:both;
    content:"";
    display:block;
}

.inner {
    position: relative;
    max-width: 800px;
    padding: 20px 10px;
    margin: 0 auto;
}
